[Unit]
Description=prep-instance
ConditionPathExists=/etc/prep-instance
After=network-online.target
Wants=network-online.target
Wants=ssh.service
Before=ssh.service

[Service]
Type=forking
ExecStart=/etc/prep-instance
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
